<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'mailing_service:index' %}">
                            <span data-feather="home"></span>
                            Главная
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog:blog_list' %}">
                            <span data-feather="book-open"></span>
                            Блог
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'mailing_service:mailing_list' %}">
                            <span data-feather="send"></span>
                            Рассылка
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'mailing_service:message_list' %}">
                            <span data-feather="layers"></span>
                            Сообщения
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'mailing_service:client_list' %}">
                            <span data-feather="users"></span>
                            Клиенты
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:users_list' %}">
                            <span data-feather="users"></span>
                            Пользователи
                        </a>
                    </li>
                </ul>


            </div>
        </nav>
