{% extends 'mailing_service/base.html' %}

{% block chart %}
<!-- Удалить график, оставив этот блок пустым -->
{% endblock %}

{% block content %}
    <div class="container">
    <div class="offset-md-3 col-md-6">
        <form class="row" method="post" enctype="multipart/form-data">
            <div class="col-6">

                <div class="card">

                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Зарегистрироваться
                    </button>
                </div>
            </div>
        </form>
    </div>
    </div>
{% endblock %}