{% extends 'mailing_service/base.html' %}

{% block chart %}
<!-- Удалить график, оставив этот блок пустым -->
{% endblock %}

{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">Дата начала: {{ object.start_date }}</p>
                        <p class="card-text">Период: {{ object.period }}</p>
                        <p class="card-text">Статус: {{ object.status }}</p>
                        <p class="card-text">Сообщение: {{ object.message }}</p>
                        <p class="card-text">Клиенты:</p>
                        <ul>
                            {% for client in object.clients.all %}
                                <li>{{ client.full_name }} ({{ client.email }})</li>
                            {% empty %}
                                <li>Нет клиентов</li>
                            {% endfor %}
                        </ul>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{% url 'mailing_service:mailing_list' %}" role="button">Назад</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}